<%= flash[:idnotice] %>
<%= flash[:pwnotice] %>
<form action="check_password" method="get">
  <label>Enter a User ID:
    <input type="text" name="userid" />
  </label>
  <label>Enter a Password:
    <input type="text" name="password" />
  </label>
  <input type="submit" />
</form>
